html { 
    background: url(https://source.unsplash.com/random/1920x1080) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Anton', sans-serif;
}

#app {
    height: 100vh; 
    width: 100vw;
    font-size: 5vw;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

#app p{
    margin: 0px;
    padding: 40px;
    text-align: center;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;
}

.love {
    display: inline-block;
    position: relative;
    top: .1em;
    font-size: 1.2em;
    color: red;
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
  }
  @-webkit-keyframes love {
    to {-webkit-transform: scale(1.1);}
  }
  @-moz-keyframes love {
    to {-moz-transform: scale(1.1);}
  }
  @keyframes love {
    to {transform: scale(1.1);}
  }
   
